<div class="container">
  <div class="row">
    <div class="col-12">
      <div
        contenteditable
        [textContent]="list?.title"
        (input)="list.title = $event.target.textContent"
        (keydown.enter)="createNewList()"
        class="mat-h2 px-1"
        #listTitleBox
      ></div>
    </div>
    <div
      *ngIf="!list.id"
      class="col-12 d-flex align-items-center justify-content-start"
    >
      <button
        class="btn btn-success btn-sm mx-1"
        [disabled]="
          !list?.title || list.length === 0 || list.title.trim().length === 0
        "
        (click)="createNewList()"
      >
        Create
      </button>
      <button class="btn btn-link btn-sm mx-1" (click)="cancelNewList()">
        Cancel
      </button>
    </div>
  </div>
  <div class="row">
    <div
      class="col-12"
      style="min-height: 50px"
      cdkDropList
      [id]="list.id"
      [cdkDropListData]="list.cards"
      [cdkDropListConnectedTo]="listIds"
      (cdkDropListDropped)="onCardDrop($event)"
    >
      <div
        *ngFor="let card of list?.cards; let cardIndex = index"
        class="my-2 position-relative card-container mat-elevation-z1 overflow-hidden"
        (click)="openCardPanel(card)"
        style="cursor: pointer"
      >
        <div class="delete-card">
          <button
            mat-icon-button
            color="warn"
            (click)="deleteCard($event, card.id)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
        <app-card [card]="card" [cdkDragData]="card" cdkDrag></app-card>
      </div>
    </div>
    <div *ngIf="displayCreateCardInput" class="col-12 mt-2">
      <app-create-card-input
        (cardTitle)="createCard($event)"
        (onClose)="displayCreateCardInput = false"
      ></app-create-card-input>
    </div>
  </div>
  <div *ngIf="list.id" class="row py-3">
    <div class="col-12">
      <button
        mat-raised-button
        (click)="displayCreateCardInput = true"
        class="w-100"
        style="background-color: #f6f5f5"
      >
        <mat-icon>add</mat-icon> Lets Add A Card
      </button>
    </div>
  </div>
</div>
