<div class="container">
  <div
    class="row flex-nowrap"
    cdkDropList
    [cdkDropListData]="lists"
    (cdkDropListDropped)="onListDrop($event)"
    cdkDropListOrientation="horizontal"
  >
    <div
      class="col-12 col-md-6 col-lg-4 px-4"
      cdkDrag
      *ngFor="let list of lists; let listIndex = index"
    >
      <div class="row border py-2">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <mat-icon
            cdkDragHandle
            [cdkDragHandleDisabled]="!list.id"
            style="cursor: move"
            matTooltip="Move List"
            >drag_handle</mat-icon
          >
          <button
            mat-icon-button
            class="delete-list"
            (click)="deleteList(list.id)"
            matTooltip="Delete List"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
        <div class="col-12">
          <app-list [list]="list" [listIds]="listIds"> </app-list>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 px-3">
      <ng-container *ngIf="!displayCreateNewList; else createNewListTemplate">
        <button class="btn btn-link" (click)="this.displayCreateNewList = true">
          Add New List
        </button>
      </ng-container>
      <ng-template #createNewListTemplate>
        <app-list
          (createNewListEvent)="createNewList($event)"
          (cancelNewListEvent)="displayCreateNewList = false"
        >
        </app-list>
      </ng-template>
    </div>
  </div>
</div>
