::ng-deep {
  .mat-dialog-container {
    position: relative;
    & .color-band {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.rotate90 {
  transform: rotate(90deg) !important;
  transition: transform 0.2s ease-in-out;
}

.tag-label {
  transition: transform 0.2s ease-in-out;
}
