<!-- Card Color -->
<div class="color-band">
  <div class="row">
    <div
      [class]="
        'col-12 d-flex align-items-center justify-content-end ' +
        card.colorClass
      "
      style="height: 35px; color: #fff"
    >
      <app-select-color-menu-button
        [color]="card.colorClass === 'bg-light' ? '#000' : '#fff'"
        (selectedClassName)="classNameSelected($event)"
      ></app-select-color-menu-button>
    </div>
  </div>
</div>

<div mat-dialog-card-header class="pt-4">
  <!-- Tags -->
  <app-tags-container
    [tagsSelected]="cardForm.get('tags').value"
    (removeTagFromCard)="removeTagFromCard($event)"
    (saveTag)="saveTag($event)"
    (addTagToCard)="addTagToCard($event)"
  ></app-tags-container>
</div>

<!-- Card Content -->
<div mat-dialog-content>
  <div mat-dialog-title>Title</div>
  <form [formGroup]="cardForm">
    <!-- Card Title -->
    <mat-form-field class="w-100">
      <mat-label>Card Title</mat-label>
      <textarea
        matInput
        formControlName="title"
        (blur)="onEditCardTitle = false; saveCard()"
        (focus)="onEditCardTitle = true"
        placeholder="What is your idea ?"
        #titleInput
      ></textarea>
      <div class="title-buttons my-2">
        <button
          *ngIf="onEditCardTitle"
          mat-raised-button
          color="accent"
          [disabled]="cardForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-form-field>
  </form>

  <!-- Card Comments -->
  <div mat-dialog-title>All Comments</div>
  <app-input-comment-area
    [content]="newComment.content"
    [isEdit]="!!newComment.id"
    (commentChanged)="addOrUpdateComment($event)"
  ></app-input-comment-area>

  <!-- Comments List -->
  <div *ngFor="let comment of card?.comments" class="my-2">
    <app-comment
      [comment]="comment"
      (onEdit)="newComment = comment"
      (onDelete)="deleteComment(comment.id)"
    ></app-comment>
  </div>
</div>

<!-- Actions -->
<div mat-dialog-actions class="d-flex">
  <button mat-button (click)="onClose()" class="ml-auto">Close</button>
</div>
