<div mat-dialog-card-header>
  <!-- Tags -->
  <div class="row">
    <!-- Card Selected Tags -->
    <div class="col-12 d-flex align-items-center">
      <button
        mat-icon-button
        class="add-tags mr-3"
        (click)="displayTags = !displayTags"
      >
        <mat-icon class="tag-label" [class.rotate90]="displayTags"
          >label</mat-icon
        >Tags
      </button>
      <div class="selected-tags d-flex align-items-center">
        <span
          *ngFor="let tag of cardForm.get('tags').value"
          style="zoom: 0.4"
          [class]="'mx-2 rounded-pill border border-dark badge ' + tag.color"
        >
          <span *ngIf="tag.title" class="mat-h1 p-3" style="line-height: 1.6">{{
            tag.title
          }}</span>
          <button mat-icon-button (click)="removeTagFromCard(tag.id)">
            <mat-icon>clear</mat-icon>
          </button>
        </span>
      </div>
    </div>

    <!-- All Available Tags -->
    <div
      class="col-12 d-flex align-items-center my-3 available-tags-container"
      [class.on-display]="displayTags"
    >
      <span
        *ngFor="let tag of tags"
        [class]="'d-flex align-items-center app-tag badge mx-1 ' + tag.color"
      >
        <span
          contenteditable
          class="w-75"
          (keydown.enter)="$event.target.blur(); saveTag(tag); (false)"
          (blur)="saveTag(tag)"
          (input)="tag.title = $event.target.textContent"
          [textContent]="tag?.title"
        ></span>
        <button
          style="zoom: 0.6"
          mat-icon-button
          type="button"
          (click)="addTagToCard(tag)"
          [disabled]="isTagAdded(tag.id)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>

<!-- Card Content -->
<div mat-dialog-content>
  <div mat-dialog-title>Title</div>
  <form [formGroup]="cardForm">
    <!-- Card Title -->
    <mat-form-field class="w-100">
      <mat-label>Card Title</mat-label>
      <textarea
        matInput
        formControlName="title"
        cdkFocusInitial
        (blur)="onEditCardTitle = false; saveCard()"
        (focus)="onEditCardTitle = true"
        placeholder="What is your idea ?"
        #titleInput
      ></textarea>
      <div class="title-buttons my-2">
        <button
          *ngIf="onEditCardTitle"
          mat-raised-button
          color="accent"
          [disabled]="cardForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-form-field>
  </form>

  <!-- Card Comments -->
  <div mat-dialog-title>All Comments</div>
  <app-input-comment-area
    [content]="newComment.content"
    [isEdit]="!!newComment.id"
    (commentChanged)="addOrUpdateComment($event)"
  ></app-input-comment-area>

  <!-- Comments List -->
  <div *ngFor="let comment of card?.comments" class="my-2">
    <app-comment
      [comment]="comment"
      (onEdit)="newComment = comment"
    ></app-comment>
  </div>
</div>

<!-- Actions -->
<div mat-dialog-actions class="d-flex">
  <button mat-button (click)="onClose()" class="ml-auto">Close</button>
</div>
